.preloader-box {
  width: 100%;
  position: fixed;
  background: red;
  height: 100vh;
  background: rgba(255, 255, 255, 0.945);
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
.loader {
  font-size: 10px;
  position: absolute;
  top: 38%;
  left: 47%;
  transform: translate(-50%, -50%);
  text-indent: -9999em;
  border-top: 0.5em solid #6a3093;
  border-right: 0.5em solid #6a3093;
  border-bottom: 0.5em solid #6a3093;
  border-left: 0.5em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.5s infinite linear;
  animation: load8 0.5s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
