.form__input label {
  font-size: 13px;
  font-weight: 500;
  display: block;
}
.form__input {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form__input input {
  border: 1px solid #ccc;
  width: 80%;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
}
.form__input input:focus {
  border: none;
  outline: 1px solid var(--purple);
}
